@import "../../css/_module-imports";

.u4m-cta-row {
  .innerCntt {
    .flex_row {
      margin: 0 -15px;
      align-items: flex-end;

      .intro_content {
        margin: 0;
        text-align: left;
        max-width: 100%;
      }

      .intro_btn_wrap {
        justify-self: start;
      }

      .form-title {
        &:empty {
          margin: 0;
        }
      }

      .frm {
        form {
          padding: 0;
          background: transparent;
          margin: 0;

          input.hs-button {
            position: absolute;
            right: 0;
            top: 3px;
            right: 3px;
            top: 40%;
          }

          .hs_email {
            input.hs-input {
              border-radius: 0 22px 22px 0;
              margin: 0;
            }
          }
        }

        position: relative;
        padding-left: 0;
      }
    }

    .flex_row.custom_width {
      .col.leftCntt {
        width: 60%;

        .intro_content {
          padding-right: 70px;
        }
      }

      .col.rightCntt {
        width: 40%;
      }
    }
  }

  overflow: hidden;

  .innerCntt {
    .flex_row {
      .frm {
        form {
          .hs_error_rollup {
            display: none;
          }

          .input+.hs-error-msgs {
            position: absolute;
            top: auto;
          }
        }
      }
    }
  }
}

.u4m-cta-row.reverse-text {
  .innerCntt {
    .flex_row {
      .frm {
        form {
          .hs-form-field {
            >label {
              color: $white;
            }
          }

          .hs_error_rollup {
            display: none;
          }

          .input+.hs-error-msgs {
            position: absolute;
            top: auto;
          }
        }
      }
    }
  }
}

@include tabletMid {
  .u4m-cta-row {
    .innerCntt {
      .flex_row.custom_width {
        .col.leftCntt {
          width: 100%;
          padding: 0;

          .intro_content {
            padding: 0;
          }
        }

        .col.rightCntt {
          width: 100%;
          padding: 0;
        }
      }

      .flex_row {
        gap: 26px;
        margin: 0;

        .frm {
          form {
            max-width: 100%;
          }
        }
      }
    }
  }
}