@import "../../css/_module-imports";

section.u4m-filtered-content {
  padding: 50rem 0;
  .topSec {
    margin-bottom: 52px;
    text-align: center;
  }
  .site-search-wrap {
    margin-bottom: 54px;

    @include tabletvert {
      margin-bottom: 40px;
    }

    .page-center {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: 30px;

      @include tabletvert {
        row-gap: 30px;
      }

      .search-col,
      .tag-col {
        max-width: 380px;
        width: 100%;
      }

      .search-col {
        .searchSec {
          position: relative;
          .resourceInput {
            color: $Brown2;
            border-radius: 0;
            @include size18;
            line-height: 1.667;
            font-weight: 400;
            padding: 10rem 40rem 10rem 20rem;
            width: 100%;
            appearance: none;
            background-color: $LightestTeal;
            border: none;
            outline: none;
            margin: 0;
            &::placeholder {
              color: $Brown2;
            }
          }
          .searchbtn {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            border: 0;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .tag-col {
        select {
          font-family: $font1;
          @include size18;
          line-height: 1.667;
          color: $Brown2;
          background-position: calc(100% - 20px);
          background-repeat: no-repeat;
          background-size: 10px;
          border-radius: 0;
          @include size18;
          line-height: 1.667;
          font-weight: 400;
          padding: 10rem 40rem 10rem 20rem;
          width: 100%;
          appearance: none;
          background-color: $LightestTeal;
          border: none;
          outline: none;
          margin: 0;
        }
      }
    }
  }
  .listing-wrap {
    .cardItems {
      @include CardItems;
      .statusCnt {
        width: 100%;
        text-align: center;
      }
    }
    .blog-pagination {
      margin-top: 50px;
      @include blogPagination;
    }
  }
}
