<!--
templateType: global_partial
label: Website header
-->
<div class="headerOuterWrapper">
	<header class="header globalHeader">
		<div class="topSection">
			<div class="page-center">
				<div class="topInnerWrap">
					{% module "feature_menu" path="@hubspot/menu" , id=186056714542 , label="Feature Menu",flyouts="false"%}
				</div>
			</div>
		</div>
		<div class="mainSection">
			<div class="mainInnerSection">
				<div class="page-center">
					<div class="mainInnerWrap">
						<div class="logoWrap">
							<div class="dark_logo">
								{% set header_image = get_asset_url('../../templates/images/Roadie.png') %}
								{% module "header_logo" path="@hubspot/linked_image", link="/", label="Dark Header Logo",
             img={src="{{header_image}}", width=440, override_inherited_src= true, alt="Roadie"} %}
							</div>
							<div class="light_logo">
								{% set light_header_image = get_asset_url('../../templates/images/Light-Logo.png') %}
								{% module "light_header_logo" path="@hubspot/linked_image", link="/", label="Light Header Logo",
             img={src="{{light_header_image}}", width=440, override_inherited_src= true, alt="Roadie"} %}
							</div>
						</div>
						<div class="menuWrapper">
							<nav class="navWrapper">
								{% module "mega_menu" path="../../modules/u4m-mega-menu", label="Mega Menu",
							first_level_menu=[ {
          "enable_second_level_menu" : true,
          "enable_single_title_menu_style" : false,
          "menu" : "Solutions",
          "menu_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "second_level_menu" : [ {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu. ",
            "image" : {
              "alt" : "Phone_Navigation",
              "height" : 90,
              "loading" : "lazy",
              "max_height" : 90,
              "max_width" : 60,
              "size_type" : "auto",
              "src" : get_asset_url('../../templates/images/Phone_Navigation.png'),
              "width" : 60
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Same Day Delivery"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu. ",
            "image" : {
              "alt" : "Store",
              "height" : 50,
              "loading" : "lazy",
              "max_height" : 50,
              "max_width" : 67,
              "size_type" : "auto",
              "src" : get_asset_url('../../templates/images/store.png'),
              "width" : 67
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "BODFS/Ship from Store"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu. ",
            "image" : {
              "alt" : "Industrial-Suppliers",
              "height" : 39,
              "loading" : "lazy",
              "max_height" : 39,
              "max_width" : 70,
              "size_type" : "auto",
              "src" : get_asset_url('../../templates/images/Industrial-Suppliers.png'),
              "width" : 70
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Industrial Suppliers"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "alt" : "Chart Yellow",
              "height" : 50,
              "loading" : "lazy",
              "max_height" : 50,
              "max_width" : 61,
              "size_type" : "auto",
              "src" : get_asset_url('../../templates/images/Chart_Yellow.png'),
              "width" : 61
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Same Day ROI Calculator"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "alt" : "Grocery Delivery Platform",
              "height" : 36,
              "loading" : "lazy",
              "max_height" : 36,
              "max_width" : 80,
              "size_type" : "auto",
              "src" : get_asset_url('../../templates/images/Grocery-Delivery-Platform.png'),
              "width" : 80
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Grocery Delivery Platform"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "alt" : "Roadie for UPS Customers",
              "height" : 60,
              "loading" : "lazy",
              "max_height" : 60,
              "max_width" : 51,
              "size_type" : "auto",
              "src" : get_asset_url('../../templates/images/United_Parcel_Service.png'),
              "width" : 51
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Roadie for UPS Customers"
          } ],
          "select_second_level_menu_style" : "two_column"
        }, {
          "enable_second_level_menu" : true,
          "enable_single_title_menu_style" : false,
          "menu" : "Products",
          "menu_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "second_level_menu" : [ {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Get Started with Roadie"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "RoadieXD™ "
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Same Day Delivery"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Roadie XL Delivery"
          } ],
          "select_second_level_menu_style" : "two_column"
        }, {
          "enable_second_level_menu" : true,
          "enable_single_title_menu_style" : false,
          "menu" : "Industries",
          "menu_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "second_level_menu" : [ {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Lost Luggage Delivery"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Retail Delivery"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Next Day Delivery"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Auto Parts Delivery"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Big & Bulky Delivery"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Prescription Delivery"
          } ],
          "select_second_level_menu_style" : "two_column"
        }, {
          "enable_second_level_menu" : true,
          "enable_single_title_menu_style" : true,
          "menu" : "Resources",
          "menu_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "second_level_menu" : [ {
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Resources"
          }, {
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Press"
          }, {
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Success Stories"
          }, {
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Whitepapers"
          }, {
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Blog"
          }, {
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Case Studies"
          }, {
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Guides"
          }, {
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Get Support"
          } ],
          "select_second_level_menu_style" : "two_column"
        }, {
          "enable_second_level_menu" : true,
          "enable_single_title_menu_style" : false,
          "menu" : "About",
          "menu_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "second_level_menu" : [ {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Trust Safety"
          }, {
            "decscription" : "Nam sit amet augue nec odio males uada fringilla volutpat et arcu.",
            "image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "title" : "Report Fraud"
          } ],
          "select_second_level_menu_style" : "single_column"
        } ]
							%}
							</nav>
							<div class="btnWrapper">
								{% module "get_started_button" path="@hubspot/button" label="Get Started Button" button_text="Get Started" link={ "url": { "type": "EXTERNAL", "href": "www.hubspot.com", "content_id": null }, "open_in_new_tab": false, "no_follow": false }%}
							</div>
						</div>
						<div class="navTrigger">
							<span class="trigger_item"></span>
							<span class="trigger_item"></span>
							<span class="trigger_item"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
