@import "../../css/_module-imports";

.split_form_wrapper {
  position: relative;

  .reverse-text {
    form {
      .hs-richtext {
        color: $baseColor;
      }
    }
  }

  .u4m-split-form-wrapper {
    min-height: 300px;
    position: relative;

    .logo_wrap {
      position: absolute;
      top: -57px;

      @include tabletMid {
        position: static;

        img {
          max-width: 180px;
        }
      }
    }

    .form_column {
      .form_column_inner {
        @include form;
        max-width: 100%;

        .form_content {
          color: $Dark;

          h3 {
            font-size: 30rem;
            color: $Dark;
          }
        }

        form {
          margin: 0;
          padding: 0;
          max-width: 100%;

          input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
            padding: 16rem;
          }

          .hs-form-field>label {
            text-transform: uppercase;
          }

          .hs_submit {
            margin-top: 30px;
          }

          .hs-form__virality-link {
            margin-top: 12px;
          }
        }

        div.legal-consent-container {

          p,
          .hs-form-booleancheckbox label {
            font-size: 13rem;
            line-height: 1.38461538;
            margin-bottom: 10rem;
            letter-spacing: 0.5rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  .page-center {
    position: relative;
    z-index: 6;
  }

  .intro_content:last-child {
    margin-bottom: 0;
  }

  .left_column {
    width: calc(100% - 580px);
    padding-right: 80px;

    &.top_content_colmn {
      padding-top: 62px;

      @include tabletMid {
        padding-top: 42px;
      }
    }

    @include navbreak {
      width: calc(100% - 480px);
    }

    @include tabletMid {
      width: 100%;
      padding-right: 0;
    }

    .intro_desc {
      h1 {
        span {
          color: $BrightTeal;
        }
      }

      h2 {
        span {
          color: $BrightTeal;
        }
      }

      h3 {
        span {
          color: $BrightTeal;
        }
      }

      h4 {
        span {
          color: $BrightTeal;
        }
      }

      h5 {
        span {
          color: $BrightTeal;
        }
      }

      h6 {
        span {
          color: $BrightTeal;
        }
      }

    }
  }

  .split_form_bottom {
    position: relative;
    z-index: 3;
  }

  .form_column {
    max-width: 580px;
    width: 100%;
    position: relative;
    z-index: 5;

    @include navbreak {
      max-width: 480px;
    }

    @include tabletMid {
      max-width: 100%;
    }

    .form_column_inner {
      position: absolute;
      top: 0;
      left: auto;

      @include tabletMid {
        position: static;
      }
    }

    form {
      margin: 0;
    }
  }
}