@import "../../css/_module-imports";

.u4m-top-tab {
  &.reverse-text {
    .page-center {
      .tabber_section {
        .tab-nav {
          > ul {
            > li {
              &.active {
                a {
                  color: $white;
                  border-color: $white;
                }
              }

              > a {
                color: $white;

                &:hover {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }

  .page-center {
    .top-section {
      .intro_content {
        margin-bottom: 37px;
      }
    }

    .tabber_section {
      .tab-nav {
        margin: 0 0 30px;

        > ul {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;

          @include tabletMid {
            display: block;
          }

          > li {
            @include tabletMid {
              padding: 23px;
            }
            > a {
              @include tabletMid {
                @include h4;
                align-items: center;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                padding: 0;
                position: relative;
                transition: all 0.3s ease;
                color: #000;
                margin: 0;
                padding-right: 50px;
                padding: 0;
              }
              @include tabletvert {
                @include size18;
              }
            }

            &.active {
              > a {
                border-color: $MidTeal;
                color: $DarkTeal !important;

                @include tabletMid {
                  &:after {
                    content: "−";
                    position: relative;
                    top: 0;
                    font-size: 18px;
                    line-height: 0;
                  }
                }
              }
            }

            margin: 0;

            @include tabletMid {
              margin-bottom: 15px;

              &:first-child {
                .toggle_content {
                  display: block;
                }
              }
            }

            .toggle_content {
              display: none;

              @include tabletMidmin {
                display: none !important;
              }

              .tab_content {
                padding: 20px 0;

                .img_section {
                  margin-bottom: 30px;
                }

                .right_content {
                  @include tabletMid {
                    padding: 0 15px 30px;
                    text-align: left;

                    .intro_content {
                      text-align: left;
                    }

                    .intro_btn_wrap {
                      justify-content: flex-start;
                    }
                  }

                  &.dard_theme {
                    .right_content_inner {
                      .intro_content {
                        .intro__inner {
                          .eyebrow_text {
                            color: $white;
                          }

                          .intro_title {
                            color: $white;
                          }

                          .intro_desc {
                            p {
                              color: $white;
                            }
                          }

                          .intro_btn_wrap {
                            .hs-sec-btn {
                              color: $white;
                            }
                          }
                        }
                      }
                    }
                  }

                  .intro_content {
                    margin: 0 auto;

                    .eyebrow_text {
                      margin-bottom: 23px;
                      color: $DarkTeal;
                    }

                    h3.intro_title {
                      margin-bottom: 10px;
                      color: $Dark;
                    }

                    .intro_desc {
                      p {
                        font-size: 16px;
                        color: $Dark;
                      }
                    }

                    .intro_btn_wrap {
                      margin-top: 28px;

                      .hs-sec-btn {
                        color: $Brown2;
                      }
                    }
                  }
                }
              }
            }

            > a {
              &:hover {
                color: $Dark;
              }

              padding: 8px 20px;
              display: inline-block;
              font-size: 15px;
              line-height: 1.73;
              color: rgba($Brown2, 0.8);
              border: 1px solid transparent;
              border-radius: 22px;
              font-weight: 600;

              @include tabletMid {
                display: flex;
                text-align: center;
                justify-content: space-between;
                text-align: center;
                align-items: center;

                &:after {
                  content: "+";
                  position: relative;
                  top: 2px;
                  font-size: 18px;
                  line-height: 0;
                }
              }
            }
          }
        }
      }

      .tab_content_wrapper {
        @include tabletMid {
          display: none;
        }

        .tab_content {
          &.active {
            display: block;
          }

          display: none;

          .row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);

            .img_section {
              width: 50%;
            }

            .right_content {
              width: 50%;

              &.dard_theme {
                .right_content_inner {
                  .intro_content {
                    .intro__inner {
                      .eyebrow_text {
                        color: $white;
                      }

                      h3.intro_title {
                        color: $white;
                      }

                      .intro_desc {
                        p {
                          color: $white;
                        }
                      }

                      .intro_btn_wrap {
                        .hs-sec-btn {
                          color: $white;

                          .icon {
                            .inner {
                              border-color: $white;

                              svg {
                                fill: $white;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .right_content_inner {
                padding: 0 86px;

                @include midlaptop {
                  padding: 40px;
                }

                .intro_content {
                  text-align: left;

                  .intro__inner {
                    .eyebrow_text {
                      margin-bottom: 23px;
                      color: $DarkTeal;
                    }

                    .intro_title {
                      margin-bottom: 10px;
                      color: $Dark;
                    }

                    .intro_desc {
                      p {
                        font-size: 16px;
                        color: $Dark;
                      }
                    }

                    .intro_btn_wrap {
                      margin-top: 28px;
                      justify-content: flex-start;

                      a.hs-sec-btn {
                        font-weight: 600;
                        align-items: center;
                        color: $Brown2;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .tabber_section {
      .tab-nav {
        > ul {
          @include tabletMid {
            display: flex;
            flex-direction: column;
            gap: 20rem;
          }
          > li {
            margin-bottom: 0;
            @include tabletMid {
              transition: all 0.3s ease;
            }

            &.active {
              @include tabletMid {
                box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
                > a {
                  border-bottom: 1px solid #0bb;
                  padding-bottom: 32px;
                  border-radius: 0;
                }
              }
            }

            > a {
              @include tabletMid {
                @include h4;
                align-items: center;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                padding: 0;
                position: relative;
                transition: all 0.3s ease;
                color: #000;
                margin: 0;
                padding-right: 50px;
                padding: 0;
                border-radius: 0;
              }
              @include phone {
                @include size18;
              }
            }

            .toggle_content {
              .tab_content {
                @include tabletMid {
                  padding-bottom: 0;
                }
                .right_content {
                  padding-left: 0;
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
