@import "../../css/_module-imports";

.u4m-hero {
  overflow: hidden;
  
  &.reverse-text {
    .page-center {
      .row {
        .left_content {
          .intro_content {
            .intro__inner {
              .eyebrow_text {
                color: $CoolGray;
              }
              .intro_desc {
                p {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
  .page-center {
    @include tabletvertmin {
      &.full_width_img {
        .left_content {
          padding-top: 100px;
          @include tabletvert {
            padding: 0;
          }
        }
        .media_content {
          img {
            position: absolute;
            left: 53%;
            width: 75%;
            right: 0;
            top: 0;
          }
        }
      }
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &.center {
        justify-content: center;
      }
      &.right {
        justify-content: flex-end;
      }
      &.without_img {
        .left_content {
          padding: 0;
        }
      }
      @include tabletvert {
        flex-direction: column-reverse;
      }
      .left_content {
        width: 50%;
        @include tabletvert {
          width: 100%;
        }
        .intro_content {
          margin: 0;
          .intro__inner {
            .eyebrow_text {
              margin-bottom: 25px;
            }
            .intro_desc {
              p {
                color: $Dark;
              }
            }
            .intro_btn_wrap {
              margin-top: 29px;
              .btn_item {
                a.hs-button {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      .media_content {
        width: 50%;
        padding-left: 70px;
        @include tabletvert {
          width: 100%;
          padding-left: 0px;
          margin-bottom: 40px;
        }
      }
    }
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .u4m-hero  {
    padding-top: 100rem !important;
  }
}