@import "../../css/_module-imports";

.u4m-hero {
  overflow: hidden;
  z-index: 3;

  &.reverse-text {
    .page-center {
      .row {
        .left_content {
          .intro_content {
            .intro__inner {
              .eyebrow_text {
                color: $CoolGray;
              }
              .intro_desc {
                p {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }

  &.bg_image:has(.noMediaContent):before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 45%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 2;

    @include tabletMid {
      display: none;
    }
  }
  &.bg_image:has(.noMediaContent):after {
    background: radial-gradient(50% 50% at 50% 50%, #d9d9d9 0%, #737373 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    content: "";
    opacity: 20%;

    @include tabletMid {
      display: none;
    }
  }

  &.bg_image:has(.noMediaContent) .page-center {
    z-index: 5;
  }

  &:has(.usebgasImage) {
    .media_content {
      display: none;
    }
  }

  &:has(.usebgasImage.noMediaContent) {
    @include tabletMin {
      .media_content {
        display: none;
      }
    }

    @include tablet {
      .page-center {
        .row {
          .left_content {
            padding-top: 60rem;
          }
        }
      }

      .media_content {
        display: block;
      }
      .bg_image {
        display: none;
      }
    }

    @include tabletMid {
      .page-center {
        .row {
          .left_content {
            padding-top: 0;
          }
        }
      }
    }
  }

  .page-center {
    @include tabletMin {
      &.full_width_img {
        position: static;
      }
    }
  }

  .left_content {
    position: relative;
    z-index: 4;
  }

  &.reverse-text {
    &.bg_color {
      .intro_title {
        span {
          color: #00bbbb;
        }
      }
    }
  }

  .page-center {
    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &.center {
        justify-content: center;
      }
      &.right {
        justify-content: flex-end;
      }
      &.without_img {
        .left_content {
          padding: 0;
        }
      }
      // @include tabletvert {
      //   flex-direction: column-reverse;
      // }
      .left_content {
        width: 50%;
        @include tablet {
          width: 100%;
        }
        .intro_content {
          margin: 0;
          .intro__inner {
            .eyebrow_text {
              margin-bottom: 25px;
            }
            .intro_desc {
              p {
                color: $Dark;
              }
            }
            .intro_btn_wrap {
              margin-top: 29px;
              .btn_item {
                &.cta_btn {
                  a {
                    align-items: center;
                    display: flex;
                    transition: 0.1s ease-in;
                    gap: 7px;
                    background: transparent;
                    color: $white;
                    padding: 0;
                    &:hover .icon {
                      background: $Mustard;
                      border-color: $Mustard;
                    }
                    .icon {
                      border-radius: 50px;
                      border: 1px solid $white;
                      width: 22px;
                      height: 22px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      line-height: 0;
                    }
                  }
                }
                a {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
      .media_content {
        width: 50%;
        padding-left: 70px;
        @include tablet {
          width: 100%;
          padding-left: 0px;
          margin-top: 40px;
        }
      }
      &.without_img:not(.bgimgvisibel) {
        .left_content {
          width: 100%;
          .intro_content {
            margin-left: auto;
            margin-right: auto;
            .intro_desc {
              max-width: 600px;
              margin: 0 auto;
            }
            &.left {
              margin-left: 0;
            }
            &.right {
              margin-right: 0;
            }
          }
        }
      }
    }

    &.full_width_img {
      @include tabletMin {
        .left_content {
          padding-top: 100px;
          @include tabletvert {
            padding: 0;
          }
        }

        .media_content {
          .media_content_inner {
            // position: absolute;
            // left: 53%;
            // width: 75%;
            // right: 0;
            // top: 0;

            left: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 48%;
            z-index: 1;
            height: calc(100% - 110rem);
            top: 160rem;
            text-align: center;
            img {
              width: 100%;
              height: 100% !important;
              object-fit: cover;
            }
          }
        }
      }

      // @media (max-width: 1480px) and (min-width: 1025px) {
      //   .media_content {
      //     .media_content_inner {
      //       left: 51%;
      //       right: auto;
      //       top: 0;
      //       width: 54%;
      //     }
      //   }
      // }

      // @media (max-width: 1280px) and (min-width: 1025px) {
      //   .media_content {
      //     .media_content_inner {
      //       left: 55%;
      //       right: auto;
      //       top: 0;
      //       width: 65%;
      //     }
      //   }
      // }

      .media_content {
        @include tablet {
          width: 100%;
          padding-left: 0px;
          margin-top: 40px;
          width: calc(100% + 40px);
          margin-left: -20px;
          margin-right: -20px;
        }
      }
    }
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .u4m-hero {
    padding-top: 100rem !important;
  }
}
