{% set moduleName = 'u4m-hero' %}
{% include "../partials/u4-module-includes.html" %}


{# <div class="hero_inner"> #}
{{ macros.topCurves(module.module_settings) }}

<div class="page-center {% if module.module_overrides.background_settings.background_type == "image" %}{{module.module_overrides.background_settings.use_background_image_as_image_at_mobile? "usebgasImage":""}}
            {% endif %} {% if module.module_settings.include_media_section %}{% if module.media_section.full_width_image %}full_width_img{% else %}nofull_img{% endif %} {% else %}noMediaContent{% endif %}  {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}" {% if module.module_overrides.container_size == "custom" %} style="max-width:{{ module.module_overrides.custom_container_size }}rem" {% endif %}>
  <div class="row {{ module.module_settings.intro_content_alignment }} {% if not module.module_settings.include_media_section %}without_img{% endif %}{% if module.module_overrides.enable_overrides %}{% if module.module_overrides.background_settings.background_type=="image"%} bgimgvisibel{% endif %}{% endif %}">
    <div class="left_content">
      {{ macros.introGroup(module.intro_content, module.module_settings) }}
    </div>

    {# image active#}
    {% if module.module_settings.include_media_section %}
    <div class="media_content">
      <div class="media_content_inner">
        {% if module.media_section.image_field.src %}
        {% set sizeAttrs = 'width="{{ module.media_section.image_field.width }}" height="{{ module.media_section.image_field.height }}"' %}
        {% if module.media_section.image_field.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.media_section.image_field.width }}" height="{{ module.media_section.image_field.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.media_section.image_field.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.media_section.image_field.max_width }}" height="{{ module.media_section.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.media_section.image_field.loading != 'disabled' ? 'loading="{{ module.media_section.image_field.loading }}"' : '' %}
        <img src="{{ module.media_section.image_field.src }}" alt="{{ module.media_section.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {# image #}

    {# bg_image active#}

    {% if not module.module_settings.include_media_section %}
    {% if module.module_overrides.background_settings.background_type == "image" %}
    <div class="media_content">
      <div class="media_content_inner">
        {% if module.module_overrides.background_settings.use_background_image_as_image_at_mobile %}

        {% if module.module_overrides.background_settings.change_mobile_background_image %}
        {% if module.module_overrides.background_settings.mobile_background_image.src %}
        <img src="{{ module.module_overrides.background_settings.mobile_background_image.src }}" alt="{{ module.module_overrides.background_settings.mobile_background_image.alt }}">
        {% endif %}
        {% else %}        
        {% if module.module_overrides.background_settings.background_image.src %}
        <img src="{{ module.module_overrides.background_settings.background_image.src }}" alt="{{ module.module_overrides.background_settings.background_image.alt }}">
        {% endif %}
        {% endif %}


        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endif %}
    {# bg_image #}


  </div>

</div>
{# </div> #}
{{macros.bottomCurves(module.module_settings)}}


</section>

{% if  module.module_overrides.background_settings.select_color == 'custom'%}
<style>
  .{{name}} .bg_overlay.custom{
    background-color:{{ module.module_overrides.background_settings.custom_color.rgba }};
  }
</style>
{% endif %}	 






{% require_css %}

<style>

  {% if module.module_overrides.background_settings.background_type == "image" %}
  {% if module.module_overrides.background_settings.use_background_image_as_image_at_mobile == false %}
  {% if module.module_overrides.background_settings.change_mobile_background_image %}
  @media (max-width: 1024px){
    section.{{ moduleName}}.{{ name }} .bg_image{
      background-image : url({{ module.module_overrides.background_settings.mobile_background_image.src}});
    }
  }
  {% endif %}
  {% endif %}


  {% if module.module_overrides.background_settings.use_background_image_as_image_at_mobile == true %}
  @media (max-width: 1024px){
    section.{{ moduleName}}.{{ name }} {
      background-color:  {{ module.module_overrides.background_settings.no_image_background_color.rgba }}
    }
  }
  {% endif %}

  {% endif %}


  {% if module.module_overrides.top_padding == 'top-padding-custom' %}
  section.{{ moduleName}}.{{ name }}.dnd_padd {padding-top:{{ module.module_overrides.custom_top_padding }}rem; }
  @media (max-width: 1024px) { section.{{ moduleName}}.{{ name }}.dnd_padd { padding-top:{{ module.module_overrides.custom_top_padding_mobile }}rem !important;  } }
  {% endif %}
  {% if module.module_overrides.bottom_padding == 'bottom-padding-custom' %}
  section.{{ moduleName}}.{{ name }}.dnd_padd {padding-bottom:{{ module.module_overrides.custom_bottom_padding }}rem; }
  @media (max-width: 1024px) { section.{{ moduleName}}.{{ name }} { padding-bottom:{{ module.module_overrides.custom_bottom_padding_mobile }}rem !important;  } }
  {% endif %}
</style>
{% end_require_css %}

