{% set moduleName = 'cmCardSlider' %}
{% include "../partials/u4-module-includes.html" %}

{{macros.topCurves(module.module_settings)}}

<div class="page-center   {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}" {% if module.module_overrides.container_size == "custom" %} style="max-width:{{ module.module_overrides.custom_container_size }}rem" {% endif %}>
  <div class="flx">
    {{ macros.introGroup(module.intro_content, module.module_settings) }}

    <div class="cmQuoteSliderWrap">
      <div class="leftOverlay"></div>
      <div class="rightOverlay"></div>
      <div class="splide quoteItemWrap">
        <div class="splide__track quoteTrack">
          <div class="splide__list quoteList">
            {% if module.select_content_type == "custom" %}
            {% for item in module.items %}
            <div class="splide__slide card{{loop.index}} {{ module.module_overrides.background_settings.select_color }} cardItem {{ module.module_settings.select_color }} {% if module.module_settings.dark_theme %} light_theme {% endif %}">
              {% if item.image.src %}
              <div class="ItemImg">
                {% set href = item.link_field.url.href %}
                {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{row.link}}" {% if item.link_field.url.type is equalto "CALL_TO_ACTION"  %}
                   href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
                   {% else %}
                   href="{{ href|escape_url }}"
                   {% endif %}
                   {% if item.link_field.open_in_new_tab %}
                   target="_blank"
                   {% endif %}
                   {% if item.link_field.rel %}
                   rel="{{ item.link_field.rel|escape_attr }}"
                   {% endif %}>
                  {# 									<div class="itemImgBg" style="background-image:url({{ item.image.src }})"></div> #}
                  <div class="itemImgBg"></div>
                </a>
              </div>
              {% endif %}
              <div class="itemContent">
                {% if item.topic %}
                <div class="itemtag">
                  <span>{{ item.topic }}</span>
                </div>
                {% endif %}
                <div class="itemTtl">
                  <h4><a class="restitle" href="{{row.link}}">{{ item.title }}</a></h4>
                </div>
                <div class="itemdesc">
                  {{ item.content }}
                </div>
              </div>
              {% if item.button_text %}
              <div class="itemBtn">
                {% set href = item.link_field.url.href %}
                {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                <a class="hs-sec-btn"
                   {% if item.link_field.url.type is equalto "CALL_TO_ACTION"  %}
                   href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
                   {% else %}
                   href="{{ href|escape_url }}"
                   {% endif %}
                   {% if item.link_field.open_in_new_tab %}
                   target="_blank"
                   {% endif %}
                   {% if item.link_field.rel %}
                   rel="{{ item.link_field.rel|escape_attr }}"
                   {% endif %}
                   >
                  <span>{{ item.button_text }}</span>
                  <div class="icon">
                    <div class="inner">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="currentColor">
                        <path d="M7.5 9.5L6.45 8.4125L9.1125 5.75H0V4.25H9.1125L6.45 1.5875L7.5 0.5L12 5L7.5 9.5Z"/>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            <!-- Hubdb -->
            {% if module.select_content_type == "hubdb" %}
            {% set table = module.resources.resource_table %}
            {% set count = module.resources.count %}
            {% set recent_query = 'orderBy=hs_created_at&limit=' ~ count %}
            {% set category = module.resources.category_name %}

            {% set category_query = 'orderBy=-hs_created_at&topics__in=' ~ category ~ '&limit=' ~ count %}

            {% if module.resources.resource_type == "recent" %}
            {% set data = hubdb_table_rows(table,recent_query) %}
            {% elif module.resources.resource_type == "category" %}
            {% set data = hubdb_table_rows(table,category_query) %}
            {% endif %}

            {% if module.resources.resource_type == "recent" ||  module.resources.resource_type == "category" %} 
            {% for row in data %}
            <div class="splide__slide cardItem" data-topic="{% for topic in row.topics %}{{ topic.name|upper|replace('-',' ') }}{% if not loop.last %},{% endif %}{% endfor %}">
              {% if row.image.url %}
              <div class="ItemImg">
                <a href="{{row.link}}">
                  <div class="itemImgBg" style="background-image:url({{ row.image.url }})"></div>
                </a>
              </div>
              {% endif %}
              <div class="itemContent">
                <div class="itemtag">
                  {% for topic in row.topics %}<span>{{ topic.name|upper|replace('-',' ') }}</span>{% endfor %}
                </div>
                <div class="itemTtl">
                  <h4><a class="restitle" href="{{row.link}}">{{ row.name }}</a></h4>
                </div>
                <div class="itemdesc">
                  {{ row.description|striptags|truncatehtml(100, '...' , false) }}
                </div>
              </div>
              {% if module.resources.read_more_text %}
              <div class="itemBtn">
                <a class="hs-sec-btn" href="{{row.link}}">
                  <span>{{ module.resources.read_more_text }}</span>
                  <div class="icon">
                    <div class="inner">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="currentColor">
                        <path d="M7.5 9.5L6.45 8.4125L9.1125 5.75H0V4.25H9.1125L6.45 1.5875L7.5 0.5L12 5L7.5 9.5Z"/>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
            </div>
            {% endfor %}
            {% elif module.resources.resource_type == 'post_by_title' %}
            {% for item in module.resources.resources_items %}
            {% set row = item.select_row.columns %}
            {% if row %}
            <div class=" cardItem" data-topic="{% for topic in row.topics %}{{ topic.name|upper|replace('-',' ') }}{% if not loop.last %},{% endif %}{% endfor %}">
              {% if row.image.url %}
              <div class="ItemImg">
                <a href="{{row.link}}">
                  <div class="itemImgBg" style="background-image:url({{ row.image.url }})"></div>
                </a>
              </div>
              {% endif %}
              <div class="itemContent">
                <div class="itemtag">
                  {% for topic in row.topics %}<span>{{ topic.name|upper|replace('-',' ') }}</span>{% endfor %}
                </div>
                <div class="itemTtl">
                  <h4><a class="restitle" href="{{row.link}}">{{ row.name }}</a></h4>
                </div>
                <div class="itemdesc">
                  {{ row.description|striptags|truncatehtml(100, '...' , false) }}
                </div>
              </div>
              {% if module.resources.read_more_text %}
              <div class="itemBtn">
                <a class="hs-sec-btn" href="{{row.link}}">
                  <span>{{ module.resources.read_more_text }}</span>
                  <div class="icon">
                    <div class="inner">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="currentColor">
                        <path d="M7.5 9.5L6.45 8.4125L9.1125 5.75H0V4.25H9.1125L6.45 1.5875L7.5 0.5L12 5L7.5 9.5Z"/>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
            </div>		
            {% endif %}

            {% endfor %}
            {% endif %}
            {% endif %}
            <!-- Blog -->
            {% if module.select_content_type == "blog" %}
            {% if module.blog_cards.feed_type == 'recent' %}
            {% set posts = blog_recent_posts(module.blog_cards.select_blog, module.blog_cards.number_of_posts) %} 
            {% elif module.blog_cards.feed_type == 'tag' %}
            {% set posts = blog_recent_tag_posts(module.blog_cards.select_blog, module.blog_cards.select_tag, module.blog_cards.number_of_posts) %} 
            {% endif %}
            {% if module.blog_cards.feed_type == 'recent' || module.blog_cards.feed_type == 'tag' %}
            {% for item in posts %}
              
            {{ macros.blogCards(item,module.module_settings)}}
            {% endfor %}
            {% elif module.blog_cards.feed_type == 'post_by_title' %}
            {% for item in module.blog_cards.blog_feed %}
            {% set item = content_by_id(item.select_post) %}
            {% if item %}
            {{ macros.blogCards(item,module.module_settings)}}
            {% endif %}
            {% endfor %}

            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{{macros.bottomCurves(module.module_settings)}}
</section>

{% require_css %}
<style>
  {% if  module.module_overrides.background_settings.select_color == 'custom'%}
  .{{name}} .bg_overlay.custom{
    background-color:{{ module.module_overrides.background_settings.custom_color.rgba }};
  }
  {% endif %}	
  {% if  module.module_settings.select_color == 'custom'%}
  .cmQuoteSlider.{{name}} .quoteItem .quoteItemInner{
    background-color:{{ module.module_settings.custom_color.rgba }};
  }
  {% endif %}
</style>
{% end_require_css %}

{% require_js %}
<script>
  var splidemodule = new Splide('.{{ name|escape }} .splide', { 
                                type: 'loop',   
                                perPage: 2,
                                perMove: 1,
                                arrows: true,
                                autoplay: true,
                                interval: 4000,
                                autoHeight: true,
                                focus: 0,  // Align slides to the left
                                gap: 40, // Ensure gap is correctly applied

                                breakpoints: {
                                767: { 
                                perPage: 1, // Show 1 slide on smaller screens
                                gap: 20, // Reduce gap for mobile
                                }
  }
  });

  splidemodule.mount();




  function rowAlignment() {
    let container = document.querySelector('header.header .page-center');
    let row = document.querySelector('.cmCardSlider .full_width .flx');

    if (!container || !row) return; // Ensure elements exist before proceeding

    let windowWidth = document.documentElement.clientWidth; // Use clientWidth for consistency
    let containerWidth = container.offsetWidth;
    let padding = (windowWidth - containerWidth) / 2;

    row.style.paddingLeft = `${Math.max(0, padding)}px`; // Prevent negative values
  }

  window.addEventListener("load", rowAlignment);
  window.addEventListener("resize", rowAlignment);


</script>

{% end_require_js %}


{% require_css %}
<style>
  .cardItem:before {
    background: linear-gradient(270deg, {{ module.module_settings.inactive_cards_overlay_color.rgb }} 0%, {{ module.module_settings.inactive_cards_overlay_color.rgba }} 100%);
  }

  {% if module.select_content_type == "custom" %}
  {% for item in module.items %}
  .{{name}} .card{{loop.index}} .itemImgBg{
    background-image:url({{ item.image.src }})
  }
  {% if item.change_mobile_image %}
  @media(max-width: 767px){
    .{{name}} .card{{loop.index}} .itemImgBg{
      background-image:url({{ item.mobile_image.src }})
    }
  }
  {% endif %}
  {% endfor %}
  {% endif %}

</style>
{% end_require_css %}