@import "../../css/_module-imports";

.cmCardSlider {
  overflow: hidden;

  .flx {
    display: flex;
    -moz-column-gap: 168px;
    column-gap: 168px;
    row-gap: 50px;
    flex-wrap: nowrap;
    display: flex;
    -moz-column-gap: 138px;
    column-gap: 138px;
    padding-left: 333px;
    align-items: center;

    @include midlaptop {
      -moz-column-gap: 50px;
      column-gap: 50px;
    }

    @include tablet {
      flex-wrap: wrap;
      padding-left: 0 !important;
    }

    .intro_content {
      margin: 0;
      max-width: 450px;
      width: 100%;
      text-align: left;
      flex-shrink: 0;
      padding-left: 15px;
      padding-right: 15px;

      .intro_btn_wrap {
        justify-content: flex-start;
        margin-top: 38px;
      }

      .intro_title {
        margin-bottom: 15rem;
      }

      .eyebrow_text {
        margin-bottom: 23rem;
      }

      @include tablet {
        width: 100%;
        max-width: 100%;
      }
    }

    .cardItem {
      .ItemImg {
        height: 300px;
        max-width: 500px;
        margin-bottom: 25px;

        a {
          display: block;
          height: 100%;
          width: 100%;

          .itemImgBg {
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
          }
        }

        @include tabletvert {
          width: 100;
          max-width: 100%;
        }
      }

      .itemtag {
        span {
          color: $DarkTeal;
          display: block;
          font-size: 15rem;
          font-style: normal;
          font-weight: 600;
          letter-spacing: 2rem;
          line-height: 1;
          margin-bottom: 13rem;
          position: relative;
          @include size14;
        }
      }

      .itemTtl {
        h4 {
          line-height: 1.33333333;

          a.restitle {
            color: inherit;
          }
        }
      }

      .itemContent {
        margin-bottom: 22px;

        .itemdesc {
          color: $Dark;
          font-size: 15rem;
          letter-spacing: 0.5rem;
          line-height: 1.6;
          margin-bottom: 0;
        }
      }
    }

    .cmQuoteSliderWrap {
      padding: 0 15px;
      margin-right: -50px;
      max-width: 63.76%;
      overflow: hidden;
      width: auto !important;
      padding-bottom: 70px;
      padding-left: 0;

      .cardItem {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transition: all 0.3s ease;

          @include tabletvert {
            display: none;
          }
        }
        &.is-active {
          &:before {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
      button.splide__arrow.splide__arrow--prev {
        display: none;
      }

      @include tablet {
        width: 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .quoteItemWrap {
    .splide__arrow {
      background-color: $Brown2;
      border: none;
      height: 69rem;
      opacity: 1;
      width: 69rem;

      @include tabletvert {
        width: 40px;
        height: 40px;
        top: 70%;
      }

      svg {
        fill: $white;
      }
      &:hover {
        svg {
          fill: $Mustard;
        }
      }
    }

    .splide__arrow--next {
      right: 60rem;

      @include tabletvert {
        right: 10rem;
      }
    }
  }

  .splide__pagination {
    left: 0;
    right: 0;
    gap: 15px;
    padding-bottom: 164px;
    top: 96%;
    bottom: 0;
    right: auto;
    top: auto;
    bottom: -50px;
    padding: 0;

    li {
      button {
        width: 15px;
        height: 15px;
        background: #d9d9d9;
        border-radius: 50%;
        transform: none;
        margin: 0;
        opacity: 1;

        &:hover {
          background: $MidTeal2;
        }

        &.is-active {
          background: $MidTeal2;
          opacity: 1;
        }
      }
    }

    @include tablet {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .splide__arrows {
    @include tabletvert {
      display: none;
    }
  }
}
