//heading styles
@mixin h1 {
  font-family: $font1;
  font-size: 60rem;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 20rem;
  line-height: 1;
  margin-top: 0;
  color: $Dark;

  @include tablet {
    font-size: 48rem;
  }

  @include phone {
    font-size: 38rem;
    margin-bottom: 20rem;
  }
}

@mixin h2 {
  font-family: $font1;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 15rem;
  line-height: 1;
  color: $Dark;

  @include tablet {
    font-size: 38rem;
  }

  @include phone {
    font-size: 32rem;
    margin-bottom: 15rem;
  }
}

@mixin h3 {
  font-family: $font1;
  font-size: 30rem;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 10rem;
  line-height: 1;
  color: $Dark;

  @include tablet {
    font-size: 29rem;
  }

  @include phone {
    font-size: 28rem;
    margin-bottom: 10rem;
  }
}

@mixin h4 {
  font-family: $font1;
  font-size: 24rem;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 12rem;
  line-height: 1;
  color: $Dark;

  @include tablet {
    font-size: 23rem;
  }

  @include phone {
    font-size: 23rem;
    margin-bottom: 12rem;
  }
}

@mixin h5 {
  font-family: $font1;
  font-size: 22rem;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 30rem;
  line-height: 1;

  @include tablet {
    font-size: 22rem;
  }

  @include phone {
    font-size: 21rem;
    margin-bottom: 20rem;
  }
}

@mixin h6 {
  font-family: $font1;
  font-size: 20rem;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 30rem;
  line-height: 1;

  @include tablet {
    font-size: 20rem;
  }

  @include phone {
    font-size: 18rem;
    margin-bottom: 20rem;
  }
}

@mixin b1 {
  font-family: $font1;
  font-weight: 400;
  font-size: 20rem;
  color: $Brown2;
  line-height: 1.5;
  letter-spacing: 0.5rem;
  margin-bottom: 20rem;

  @include phone {
    font-size: 18rem;
  }
}

@mixin b3 {
  font-family: $font1;
  font-size: 15rem;
  line-height: 1.6;
  letter-spacing: 0.5rem;
  margin-bottom: 20rem;
  color: $Dark;

  @include phone {
    font-size: 14rem;
  }
}

@mixin b2 {
  font-family: $font1;
  font-size: 16rem;
  line-height: 1.75;
  letter-spacing: 0.5rem;
  margin-bottom: 20rem;
  color: $Dark;

  @include phone {
    font-size: 15rem;
  }
}

@mixin b4 {
  font-family: $font1;
  font-size: 14rem;
  line-height: 1.57142857;
  letter-spacing: 0.5rem;
  margin-bottom: 20rem;
  color: $Brown2;

  @include phone {
    font-size: 14rem;
  }
}

@mixin b5 {
  font-family: $font1;
  font-size: 13rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;

  @include phone {
    font-size: 13rem;
  }
}

@mixin b6 {
  font-family: $font1;
  font-size: 12rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 10rem;

  @include phone {
    font-size: 12rem;
  }
}

@mixin blockquote {
  font-family: $font1;
  font-weight: 400;
  font-size: 26rem;
  line-height: 1.61538462;
  letter-spacing: 1rem;
  margin: 0;
  padding: 0;
  color: $Dark;
  display: block;

  @include phone {
    font-size: 23rem;
  }
}

@mixin eyebrow {
  font-family: $font1;
  font-style: normal;
  font-weight: 600;
  font-size: 15rem;
  line-height: 1;
  letter-spacing: 2rem;
  display: block;
  margin-bottom: 22rem;
  color: $DarkTeal;
}

//

//heading styles
@mixin size60 {
  font-size: 60rem;
  line-height: 1;

  @include tablet {
    font-size: 48rem;
  }

  @include phone {
    font-size: 38rem;
  }
}

@mixin size50 {
  font-size: 50rem;
  line-height: 1;

  @include tablet {
    font-size: 38rem;
  }

  @include phone {
    font-size: 32rem;
  }
}

@mixin size30 {
  font-size: 30rem;
  line-height: 1;

  @include tablet {
    font-size: 29rem;
  }

  @include phone {
    font-size: 24rem;
  }
}

@mixin size24 {
  font-size: 24rem;
  line-height: 1;

  @include tablet {
    font-size: 20rem;
  }
}

@mixin size22 {
  font-size: 22rem;
  line-height: 1;

  @include tablet {
    font-size: 18rem;
  }
}

@mixin size20 {
  font-size: 20rem;
  line-height: 1;

  @include tablet {
    font-size: 16rem;
  }
}

@mixin size18 {
  font-size: 18rem;
  line-height: 1;
}

@mixin size16 {
  font-size: 16rem;
  line-height: 1;
}

@mixin size14 {
  font-size: 14rem;
  line-height: 1;
}
