{% set moduleName = 'u4-pricing-cards' %}
{% include "../partials/u4-module-includes.html" %}

{{macros.topCurves(module.module_settings)}}


<div class="page-center  {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}" {% if module.module_overrides.container_size == "custom" %} style="max-width:{{ module.module_overrides.custom_container_size }}rem" {% endif %}>
  {{ macros.introGroup(module.intro_content, module.module_settings) }}

  <div class="pricingItems">
    <div class="flex_row">
      {% for item in module.card_items %}
      <div class="pricingItem">
        <div class="pricingtp {{ item.select_title_gradient }}">
          <div class="pricingttl">
            <h3>{{ item.title }}</h3>
          </div>
        </div>
        <div class="pricingbtm {{ module.module_overrides.cards_background_settings.select_color }} {% if module.module_overrides.cards_background_settings.dark_theme %}darkTheme{% endif %}">
          <div class="pricingCon">
            <div class="pricingDesc">
              {{ item.content }}
            </div>
            <div class="pricingBtn">
              {{ macros.singlebuttonGroup(item.button_group)}}
            </div>
          </div>
          <div class="pricingftrs">
            <ul>
              {% for item2 in item.featured_items %}
              <li>
                {% icon
                  name="{{ item2.icon_field.name }}"
                  style="{{ item2.icon_field.type }}"
                  unicode="{{ item2.icon_field.unicode }}"
                  icon_set="{{ item2.icon_field.icon_set }}"
                %}
                <span>{{ item2.text }}</span></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{{macros.bottomCurves(module.module_settings)}}
</section>


{% require_css %}
<style>
  {% if  module.module_overrides.background_settings.select_color == 'custom'%}
  .{{name}} .bg_overlay.custom{
    background-color:{{ module.module_overrides.background_settings.custom_color.rgba }};
  }
  {% endif %}	 
  {% if  module.module_overrides.cards_background_settings.select_color == 'custom'%}
  .{{name}} .pricingbtm.custom{
    background-color:{{ module.module_overrides.cards_background_settings.custom_color.rgba }};
  }
  {% endif %}	 
</style>
{% end_require_css %}
