{% set moduleName = 'u4m-alternating-content' %}
{% include "../partials/u4-module-includes.html" %}

{{macros.topCurves(module.module_settings)}}

<div class="page-center  {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}" {% if module.module_overrides.container_size == "custom" %} style="max-width:{{ module.module_overrides.custom_container_size }}rem" {% endif %}>
	<div class="main-wrpp">
		<div class="flex_row {{ module.module_settings.media_alignment }}">
			<div class="col leftCnt">
				<div class="innerCnt">
					{{ macros.introGroup(module.intro_content, module.module_settings) }}
				</div>
			</div>
			<div class="col rightCnt">
				<div class="media-col">
					{% if module.media_group.media_type == 'img' %}
					{% if module.media_group.image_field.src %}
					<div class="img-col">
						<img src="{{ module.media_group.image_field.src|escape_url }}" alt="{{ module.media_group.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
					</div>
					{% endif %}
					{% endif %}
					{% if module.media_group.media_type == 'video' %}
					{% if module.media_group.video_section.video_type == 'file' %}
					{% if module.media_group.video_section.video %}
					<video class="video-media" controls>
						<source src="{{ module.media_group.video_section.video }}" type="video/mp4">
					</video>
					{% endif %}
					{% endif %}
					{% if module.media_group.video_section.video_type == 'embed' %}
					<div class="embedVideo">
						<iframe src="{{ module.media_group.video_section.embed_path }}?autoplay=1&loop=0&mute=1&showinfo=0&controls=1"  frameborder="0" allowfullscreen="" class="iframe_video" ></iframe>
					</div>
					{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{{macros.bottomCurves(module.module_settings)}}
</section>

{% if  module.module_overrides.background_settings.select_color == 'custom'%}
<style>
	.{{name}} .bg_overlay.custom{
		background-color:{{ module.module_overrides.background_settings.custom_color.rgba }};
	}
</style>
{% endif %}	 

<style>
	.u4m-alternating-content.{{name}} .flex_row .rightCnt {
		{% if not module.media_group.change_image_width %}
		width: 620px;
		{% endif %}
		{% if module.media_group.change_image_width %}
		width:{{ module.media_group.image_width }}px;
		{% endif %}
	}
</style>