@import "../../css/_module-imports";


.u4m-alternating-content {
  overflow: hidden;

  .main-wrpp {
    .flex_row {
      margin: 0 -15px;
      align-items: center;
      flex-wrap: nowrap;

      .leftCnt {
        .innerCnt {
          .intro_content {
            text-align: left;
            margin-bottom: 0;

            .intro_btn_wrap {
              justify-content: flex-start;
              margin-top: 42px;
            }

            .intro__inner {
              margin: 0;

              .eyebrow_text {
                margin-bottom: 22px;
              }

              .intro_title {
                margin-bottom: 13px;
              }
            }
          }

          padding-right: 70px;

          @include midlaptop {
            padding-right: 0px;
          }
        }
      }

      .img-col {
        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .rightCnt {
        flex-shrink: 0;

        .embedVideo {
          padding-bottom: 56.6%;
          position: relative;

          iframe.iframe_video {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        @include tabletMid {
          width: 55% !important;
        }

        @include tabletvert {
          width: 100% !important;
          order: 2;
        }
      }

      @include tabletvert {
        flex-wrap: wrap;
        gap: 40px;
      }

      @include tabletvert {
        margin: 0;
      }
    }

    .flex_row.left {
      .col.leftCnt {
        order: 2;

        .innerCnt {
          padding-left: 70px;
          padding-right: 0;

          @include midlaptop {
            padding-right: 0px;
            padding-left: 0px;
          }
        }

        @include tabletMid {
          width: 45%;
        }

        @include tabletvert {
          width: 100%;
          order: 1;
        }
      }
    }

  }
}