@import "../../css/_module-imports";


.u4m-accordion {
  .intro_content {
    .intro__inner {
      .intro_desc {
        margin-bottom: 54px;
      }
    }
  }

  .btmCntt {
    .inner {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .pd {
      .title {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        border: none;
        padding: 0;
        padding-bottom: 32px;
        padding: 0;
        padding: 0;
        position: relative;
        transition: all .3s ease;

        h4 {
          margin: 0;
          padding-right: 50px;
        }

        .icon {
          width: 30px;
          height: 30px;
          position: absolute;
          right: 0;
          transition: all .3s ease;

          svg {
            fill: $Brown;
          }
        }
      }

      .content {
        .cnt {
          p {
            &:last-child {
              margin: 0;
            }
          }

          margin-bottom: 10px;
        }

        display: none;
        padding-top: 29px;
      }

      .btn {
        a {
          margin: 0;
        }
      }

      padding: 23px 40px;
      transition: all .3s ease;

      .title.active {
        padding-bottom: 32px;
        border-bottom: 1px solid $BrightTeal;
      }

      @include tabletvert {
        padding: 23px;
      }
    }

    .pd.accActive {
      padding: 34px 40px 40px 40px;
      box-shadow: 2px 2px 20px rgba($Dark, .15);

      .title {
        &.active {

          .icon {
            transform: rotate(45deg);

            svg {
              path {
                fill: $Brown;
              }
            }
          }
        }
      }

      @include tabletvert {
        padding: 23px;
      }
    }
  }
}