@import "../../css/_module-imports";

.u4m-accordion {
  .intro_content {
    .intro__inner {
      margin-bottom: 54px;
    }
  }

  .btmCntt {
    .inner {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .pd {
      .eyebrow_text {
        @include eyebrow;
        color: $DarkTeal;
      }

      .title {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        border: none;
        padding: 0;
        padding-bottom: 32px;
        padding: 0;
        padding: 0;
        position: relative;
        transition: all 0.3s ease;

        h4 {
          margin: 0;
          padding-right: 50px;
          color: $Dark;
          @include phone {
            @include size18;
          }
        }

        .icon {
          width: 30px;
          height: 30px;
          position: absolute;
          right: 0;
          transition: all 0.3s ease;
          @include phone {
            height: 25px;
            width: 25px;
          }
          svg {
            fill: $Brown;
          }
        }
      }

      .content {
        .cnt {
          color: $Dark;

          p {
            &:last-child {
              margin: 0;
            }
          }

          margin-bottom: 10px;
          margin-bottom: 15px;
        }

        display: none;
        padding-top: 29px;
      }

      .btn {
        a {
          margin: 0;

          &.hs-sec-btn {
            color: $Brown2;

            .inner {
              align-items: center;
              border: 1.5px solid $Brown2;
            }
          }
        }
      }

      padding: 23px 40px;
      transition: all 0.3s ease;

      .title.active {
        padding-bottom: 32px;
        border-bottom: 1px solid $BrightTeal;
      }

      @include tabletvert {
        padding: 23px;
      }

      &.light_theme {
        .title {
          &.active {
            border-color: $white;
          }

          h4 {
            color: $white;
          }

          .icon {
            svg {
              fill: $white;

              path {
                fill: $white !important;
              }
            }
          }
        }

        .eyebrow_text {
          color: $white;
        }

        .content {
          .cnt {
            color: $white;
          }
        }

        .btn {
          a.hs-sec-btn {
            color: $white;

            .inner {
              background-color: transparent;
              border-color: $white;
            }

            &:hover {
              .inner {
                background-color: $Mustard;
                color: $Brown2;
                border-color: $Mustard;

                svg {
                  fill: $Brown2;
                }
              }
            }
          }
        }
      }
    }

    .pd.accActive {
      padding: 34px 40px 40px 40px;
      box-shadow: 2px 2px 20px rgba($Dark, 0.15);

      .title {
        &.active {
          .icon {
            transform: rotate(45deg);

            svg {
              path {
                fill: $Brown;
              }
            }
          }
        }
      }

      @include tabletvert {
        padding: 23px;
      }
    }
  }
}
