{% set moduleName = 'u4m-accordion' %}
{% include "../partials/u4-module-includes.html" %}
{{macros.topCurves(module.module_settings)}}
<div class="page-center  {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}" {% if module.module_overrides.container_size == "custom" %} style="max-width:{{ module.module_overrides.custom_container_size }}rem" {% endif %}>
	{{ macros.introGroup(module.intro_content, module.module_settings) }}
	<div class="btmCntt">
		<div class="inner">
			{% for item in module.accordion_items_group %}
			<div class="items">
				<div class="pd">
					{% if item.title %}
					<div class="title">
						<h4>
							{{ item.title }}
						</h4>
						<div class="icon">
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_444_5304)">
									<path d="M25.6067 4.39328C22.7736 1.56021 19.007 0 15 0C10.993 0 7.22692 1.56021 4.39328 4.39328C1.56021 7.22636 0 10.9936 0 15C0 19.0064 1.56021 22.7736 4.39328 25.6067C7.22692 28.4398 10.9936 30 15 30C19.0064 30 22.7736 28.4398 25.6067 25.6067C28.4398 22.7736 30.0006 19.0064 30.0006 15C30.0006 10.9936 28.4398 7.22636 25.6067 4.39328ZM24.6843 24.6843C22.0978 27.2715 18.6582 28.6958 15 28.6958C11.3418 28.6958 7.90277 27.2715 5.31566 24.6843C2.7291 22.0978 1.30418 18.6582 1.30418 15C1.30418 11.3418 2.7291 7.90277 5.31566 5.31566C7.90277 2.7291 11.3418 1.30418 15 1.30418C18.6582 1.30418 22.0978 2.7291 24.6843 5.31566C27.2715 7.90277 28.6958 11.3418 28.6958 15C28.6958 18.6582 27.2715 22.0978 24.6843 24.6843Z"/>
									<path d="M23.479 15C23.479 15.36 23.1872 15.6524 22.8266 15.6524H15.6528V22.8262C15.6528 23.1862 15.361 23.4786 15.0005 23.4786C14.6399 23.4786 14.3486 23.1862 14.3486 22.8262V15.6524H7.17427C6.81427 15.6524 6.52246 15.36 6.52246 15C6.52246 14.64 6.81427 14.3476 7.17427 14.3476H14.3486V7.17382C14.3486 6.81382 14.6404 6.52145 15.0005 6.52145C15.3605 6.52145 15.6528 6.81382 15.6528 7.17382V14.3476H22.8266C23.1872 14.3476 23.479 14.64 23.479 15Z"/>
								</g>
								<defs>
									<clipPath id="clip0_444_5304">
										<rect width="30.0006" height="30" fill="white"/>
									</clipPath>
								</defs>
							</svg>
						</div>
					</div>
					{% endif %}
					<div class="content">
						{% if item.content %}
						<div class="bodystyle3 cnt">
							{{ item.content }}
						</div>
						{% endif %}
						{% if item.button_group.button_type %}
						<div class="btn">
							{% if item.button_group.button_type  == "std" %}
							{% set href = item.button_group.link.url.href %}
							{% if item.button_group.link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
							{% endif %}
							<a
								 {% if item.button_group.link.url.type is equalto "CALL_TO_ACTION"  %}
								 href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
								 {% else %}
								 href="{{ href|escape_url }}"
								 {% endif %}
								 {% if item.button_group.link.open_in_new_tab %}
								 target="_blank"
								 {% endif %}
								 {% if item.button_group.link.rel %}
								 rel="{{ item.button_group.link.rel|escape_attr }}"
								 {% endif %}
								 class="{{ item.button_group.button_style ? item.button_group.button_style : "hs-button" }} {{item.button_group.button_theme}}"  >
								<span>{{ item.button_group.button_text }}</span>
								{% if item.button_group.button_style  == "hs-sec-btn" %}
								<div class="icon">
									<div class="inner">
										<svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="currentColor">
											<path d="M7.5 9.5L6.45 8.4125L9.1125 5.75H0V4.25H9.1125L6.45 1.5875L7.5 0.5L12 5L7.5 9.5Z"/>
										</svg>
									</div>
								</div>
								{% endif %}
							</a>
							{% elif item.button_group.button_type  == "cta" %}
							{% cta guid="{{ item.button_group.cta }}" %}
							{% endif %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{{macros.bottomCurves(module.module_settings)}}
</section>

{% if  module.module_overrides.background_settings.select_color == 'custom'%}
<style>
	.{{name}} .bg_overlay.custom{
		background-color:{{ module.module_overrides.background_settings.custom_color.rgba }};
	}
</style>
{% endif %}	 